1.	Write a Python Program to Find the Factorial of a Number?

In [11]:
n=int(input("Enter the Number "))
fact=1
if n < 0:
    print("Can not calculate Factorial of a negative number")
elif n == 0:
    print("Factorial of zero is 1")
else:
    for i in range(1,n):
        fact=fact*i
    print("The factorial of the Number is " ,fact)

Enter the Number 5
The factorial of the Number is  24

2.	Write a Python Program to Display the multiplication Table?

In [27]:
n=int(input("Enter the Number "))
fact=1
if n < 0:
    print("Can not calculate Table of a negative number")
elif n == 0:
    print("Table of zero is 0")
else:
    for i in range(1,11):
        fact=n*i
        print("The Table of {0} with {0} x {1} ja  equal to {2} " .format(n,i,fact))

Enter the Number 12
The Table of 12 with 12 x 1 ja  equal to 12
The Table of 12 with 12 x 2 ja  equal to 24
The Table of 12 with 12 x 3 ja  equal to 36
The Table of 12 with 12 x 4 ja  equal to 48
The Table of 12 with 12 x 5 ja  equal to 60
The Table of 12 with 12 x 6 ja  equal to 72
The Table of 12 with 12 x 7 ja  equal to 84
The Table of 12 with 12 x 8 ja  equal to 96
The Table of 12 with 12 x 9 ja  equal to 108
The Table of 12 with 12 x 10 ja  equal to 120

3.	Write a Python Program to Print the Fibonacci sequence?

In [38]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1,end =" ")
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1,end =" ")
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0 1 1 2 3

4.	Write a Python Program to Check Armstrong Number?

In [44]:
num = int(input("Enter the Number "))

sum=0
temp =num
while temp >0:
    digit =temp%10
    sum +=digit**3
    temp//=10

if num==sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter the Number 153
153 is an Armstrong number

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [48]:
## fining for a range of numbers
low = int(input("Lower limit : "))
up = int(input("Upper limit : "))

for num in range(low,up+1):
    if (num >9):
        temp = num
        sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit ** power
        temp //=10
    if num == sum :
        print(num)

Lower limit : 1
Upper limit : 500
153
370
371
407

6.	Write a Python Program to Find the Sum of Natural Numbers?

In [52]:
n=int(input("Enter the Number of terms "))
sum=0
if (n<0):
    print("Please enter a postive sequence value ")
elif (n==0):
    print("The sum is 0")
else:
    for i in range(0,n+1):
        sum+=i
    print("Sum of natural numbers upto {} is {}".format(n,sum))

Enter the Number of terms 5
Sum of natural numbers upto 5 is 15